.footer{
  max-width: 100%;
  height: 104px;
  display: flex;
  justify-content: space-between;
  background-color: #4299ff;
  align-items: center;

  .logo {
    width: 142px;
    height: 62px;
    margin-left: 25px;
    vertical-align:inherit;

  }

  .connections {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .connections > div {
    margin-right: 40px;
    font-size: 12px;
    color: #fff;
    font-family: OpenSans-SemiBold;
  }


  // .co
}
