<div class="about-us">
  <div class="first-block">
    <div class="back-block"></div>
  </div>
  <div class="second-block">
    <div class="blue-text">ПРО НАС</div>
    <div class="title">ЩО ТАКЕ ГІЛЬДІЯ ВЧИТЕЛІВ?
      </div>
      <div class="description">
          Це щорічна національна премія для вчителів-агентів освітянських змін. Премія покликана відзначити досягнення вчителя не лише щодо своїх учнів.
      <br>
      <br>
      Це щорічна національна премія для вчителів-агентів освітянських змін. Премія покликана відзначити досягнення вчителя не лише щодо своїх учнів.        </div>
  </div>
</div>
