.main_div {
  width: 1440px;
  height: 566px;
  background-color: #fc6262;
}
.work_with_us {
  width: 461px;
  height: 55px;
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffffff;
  margin: 0 490px 0 489px;
  padding-top: 80px;
}

.white_boxes {
  display: flex;
  justify-content: space-between;
  height: 160px;
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 40px;
}


.box {
  width: 160px;
  height: 160px;
  background-color: #ffffff;
}

.be_actual {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 30px;
}

.actual {
  width: 330px;
  height: 33px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.first {
  margin-left: 140px;
}

.same_text {
  display: flex;
  justify-content: space-between;
}
.same {
  width: 370px;
  height: 50px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 10px;
}

.one {
  margin-left: 80px;
}
