<div class="main_div">
  <div class="work_with_us">
    ПРАЦЮЙ З НАМИ
  </div>
  <div class="white_boxes">
    <div class="box">
      <img src="../../../assets/Alarm_2019-04-07/Alarm.png" alt="">
    </div>
    <div class="box">
      <img src="../../../assets/Jewel_2019-04-07/Jewel.png" alt="">
    </div>
    <div class="box">
      <img src="../../../assets/Trophy_2019-04-07/Trophy.png" alt="">
    </div>
  </div>

  <div class="be_actual">
    <div class="actual first">
      Будь Актуальним
    </div>
    <div class="actual second">
      Будь Актуальним
    </div>
    <div class="actual third">
    Професійно
    </div>
  </div>
  <div class="same_text">
    <div class="same one">
        Тримати руку на пульсівсіх освітніх
        подій України та світу
    </div>
    <div class="same two">
        Проводити свої уроки по-новому, використовуючи кращізразки    </div>
    <div class="same three">
        Це щорічна національна премія для вчителів-агентів освітянських змін. 
    </div>

  </div>

</div>
