.container{
width: 100%;
height: 100%;
background: rgb(68, 152, 251);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
.logo{
     margin-top: -10%;
     width: 150px;
     height: 150px;
     margin-bottom: 2%;
     @media screen and (max-width:567px){
          display:none;
     }
     img{
          max-width: 100%;
          max-height: 100%;
     }
}
.title{
     margin-bottom: 2%;
     font-family: 'ZCOOL XiaoWei', serif;
     color: rgb(232, 188, 50);
    font-size: 50px;
    @media screen and (max-width:567px){
     font-size: 45px;
     text-align: center;
    }
}
}
mat-card{
     width: 384px;
     height: 400px;
     background: white;
     @media screen and (max-width:567px){
          width: 80%;
     }
     form{
          display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    .reg-button{
         background: rgb(232, 188, 50);
    }
     }
}