.main_div {
  width: 100%;
}
.organisation {
  width: 308.1px;
  height: 17px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #4299ff;
  margin-left: 800px;
  margin-top: 40px;
}

.our_team {
  width: 500px;
  height: 55px;
  font-family: OpenSans;
  font-size: 40px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #151719;
  margin-left: 665px;
  margin-top: 20px;
}

.text {
  width: 500px;
 height: 50px;
 font-family: OpenSans;
 font-size: 18.5px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #656565;
 margin-left: 600px;
 margin-top: 20px;
 text-align: center;

}
