* {margin: 0; max-width: 100%;}

.text_big {
  margin: auto;
  padding-top: 89px;
  margin-right: 67px;
  width: 533px;
  height: 131px;
  font-family: OpenSans;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #ffffff;
  letter-spacing: 0.96px;
  @media screen and (max-width:768px){
    font-size: 35px;
    margin-left: 3%;
  }
}

.line {
  width: 136px;
  height: 4px;
  opacity: 0.4;
  background-color: #ffffff;
  margin-left: 139px;
  margin-top: 40px;
  @media screen and (max-width:768px){
    display:none;
  }
}

.text_small {
  width: 461px;
  height: 99px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-size: 18px;
  margin-left: 139px;
  margin-top: 51px;
  @media screen and (max-width:768px){
    width: 98%;
    margin-left: 3%;
  }
}
.add_box {
  width: 157px;
  height: 48px;
  border-radius: 4px;
  background-color: #ffffff;
  margin-left: 139px;
  margin-top: 50px;
}

.add_text {
  width: 108px;
  height: 20px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  color: #4299ff;
  margin-left: 165px;
  margin-top: -30px;
}

.rectangle {
  height: 680px;
  display: flex;
  flex-direction: row;
  animation: appear 3s ease-in-out;
  // margin-top: 40px;
@media screen and (max-width:768px){
  flex-direction: column;
  div{
    width: 100%;
  }
}
}

.blue_rectangle, .yellow_rectangle {
  width: 50%;
  height: 680px;
}

.yellow_rectangle {
  background-image: url("../../../assets/Images/pencils_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blue_rectangle {
  background-color: #4299ff;

}
@keyframes appear{
  from{
opacity: 0;
  }
  to{
opacity: 1;
  }
}
