<div class="rectangle">
  <div class="blue_rectangle">
    <div class="rectangle_left">
      <div class="text_big">
        ПРИЄДНУЙТЕСЯ ДО ГІЛЬДІЇ ВЧИТЕЛІВ
      </div>
    </div>
    <div class="line">
    </div>
    <div class="text_small">
      Це щорічна національна премія для вчителів-агентів освітянських змін.
      Премія покликана відзначити досягнення вчителя не лише щодо своїх учнів.
    </div>
    <div class="add_box">

    </div>
    <div class="add_text">
      ДОЄДНАТИСЯ
    </div>
  </div>
  <div class="yellow_rectangle">
      <!-- <img src="../../assets/Images/pencils_1.png" alt=""> -->

  </div>
</div>
