.filter-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    .input-group{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    input{
        border: 1px solid gray;
        width: 100%;
    }
    div{
        width: 100%;
        button{
            width: 100%;
            color: black;
            background-color: white;
            border: 1px solid gray;
            height: 41px;
            margin-bottom: 12px;
        }
    }
}
