<div class="container">
  <div class="title"> ОСТАННІ НОВИНИ</div>
  <div class="block-items">
    <div class="item">
      <div class="img">
        <img src="" alt="">
      </div>
      <div class="date">21 червня 2018</div>
      <div class="title-item">Тема Новини</div>
      <div class="description">Це щорічна національна премія для вчителів-агентів освітянських змін. </div>
    </div>
    <div class="item">
      <div class="img">
        <img src="" alt="">
      </div>
      <div class="date">21 червня 2018</div>
      <div class="title-item">Тема Новини</div>
      <div class="description">Це щорічна національна премія для вчителів-агентів освітянських змін. </div>
    </div>
    <div class="item">
      <div class="img">
        <img src="" alt="">
      </div>
      <div class="date">21 червня 2018</div>
      <div class="title-item">Тема Новини</div>
      <div class="description">Це щорічна національна премія для вчителів-агентів освітянських змін. </div>
    </div>
  </div>
</div>
