.banner{
    height: 135px;
    width: 100%;
    background-color: #4299ff;
    display: flex;
    align-items: center;
    justify-content: center;
    .title{
        font-family: OpenSans;
        font-size: 40px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.8px;
        color: #ffffff;
    }
}
.content{
    display: flex;
    justify-content: space-between;
    app-filter-side{
        width: 20%;
        height: 100%;
    }
    app-user-side{
        width: 75%;
        height: 100%;
    }
    @media screen and (max-width:768px) {
        flex-direction: column;
        app-filter-side, app-user-side{
width:100%;
        }
    }
}