.header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
}
.header_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 3%;
}

.logo {
  width: 147px;
  height: 62px;
    img{
    max-width: 100%;
    max-height: 100%;
  }

}
.menu-list{
  position: absolute;
  right: 8px;
  background: white;
  z-index: 2;
}
// .logo>img{
//   width: 147px;
//   height: 62px;
//   margin: 20px;
//   margin-left: 40px;
// }

.options_header {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  margin-left: 150px;
  align-items: center;
  &.desktop{
    @media screen and (max-width:768px){
      display: none;
    }

  }

}
.options-mob{
  @media screen and (min-width:769px) {
    display: none;
  }
  .menu{
  width: 30px;
  height: 30px;
  img{
    max-width: 100%;
    max-height: 100%;
  }}
}
.item {
  width: 41px;
  height: 17px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin: 20px;
  cursor: pointer;
  &.sign_up{
    width: 88px;
  }
}

.base {
  width: 108px;
}

.border {
  border: 1px solid black;
  margin-top: 9px;
  padding: 10px;
}
