.header {
  width: 1440px;
  height: 80px;
  background-color: #ffffff;
}
.header_line {
  display: flex;
}

.logo {
  display: flex;
}

.logo>img{
  width: 147px;
  height: 62px;
  margin: 20px;
  margin-left: 40px;
}

.options_header {
  width: 1440px;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  margin-left: 150px;
}

.item {
  width: 41px;
  height: 17px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  margin: 20px;
}

.base {
  width: 108px;
}

.border {
  border: 1px solid black;
  margin-top: 9px;
  padding: 10px;
}
