<header>
  <div class="header_line">
    <div class="logo">
      <img src="../../assets/Images/guildLogo.png" alt="logo">
    </div>
    <div class="options_header desktop">
      <div class="search item">
        Пошук
      </div>
      <div class="teachers item">
        Вчителі
      </div>
      <div class="base item base">
        Нормативна база
      </div>
      <div class="courses item">
        Курси
      </div>
      <div routerLink="/sign-in" class="sign_in item border">
        Ввійти
      </div>
      <div routerLink="/sign-up" class="sign_up item border">
        Зареєструватися
      </div>
    </div>
    <div class="options-mob">
      <div class="menu" (click)="openMenu()">
        <img src="../../../assets/menu.png" alt="">
      </div>
      <div class="menu-list" *ngIf="isOpen">
        <div class="search item">
          Пошук
        </div>
        <div class="teachers item">
          Вчителі
        </div>
        <div class="base item base">
          Нормативна база
        </div>
        <div class="courses item">
          Курси
        </div>
        <div class="sign_in item border">
          Ввійти
        </div>
        <div class="sign_up item border">
          Зареєструватися
        </div>
      </div>
    </div>
  </div>






</header>
